In [136]:
import pandas as pd
import pgeocode
import numpy as np
import time
# import tensorflow as tf
# import keras_tuner

In [98]:
# URLs

#zipcode url
zip_url = 'https://raw.githubusercontent.com/symerio/postal-codes-data/master/data/geonames/US.txt'
zipcode_raw_df = pd.read_csv(zip_url, header=None, sep='\t')
zipcode_df = zipcode_raw_df[[1,9,10]].rename(columns={1:'zip',
                                                        9: 'lat',
                                                        10:'lon'}).set_index('zip')
zipcode_df.head()

# crime url

# water url

# rent url

           lat       lon
zip
99553  54.1430 -165.7854
99571  55.1858 -162.7211
99583  54.8542 -163.4113
99612  55.0628 -162.3056
99661  55.3192 -160.4914

In [93]:
# load in crime data and store in df
crime_csv = 'Resources/crime_data.csv'
crime_raw_df = pd.read_csv(crime_csv)
crime_raw_df.head(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
5,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1,Central,163,1,121,"RAPE, FORCIBLE",...,IC,Invest Cont,121.0,998.0,NaN,NaN,700 S BROADWAY,NaN,34.0452,-118.2534
6,200100502,01/02/2020 12:00:00 AM,01/02/2020 12:00:00 AM,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,IC,Invest Cont,442.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631
7,200100504,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,998.0,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
8,200100507,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,998.0,NaN,NaN,700 BERNARD ST,NaN,34.0677,-118.2398
9,201710201,06/19/2020 12:00:00 AM,05/26/2020 12:00:00 AM,1925,17,Devonshire,1708,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,AO,Adult Other,341.0,NaN,NaN,NaN,11900 BALBOA BL,NaN,34.2864,-118.5021

In [94]:
# remove rows where lat or lon have 0.0 values
crime_df = crime_raw_df.loc[(crime_full_df['LAT'] != 0.0) & (crime_full_df['LON'] != 0.0)]
print(f'{len(crime_df)} Eligible LA Crime Reports Found!\n')

# retrieve min and max values of lat and lon for LA crime data
min_lat = min(crime_df['LAT'])
print(f'Minimum Latitude: {min_lat}')
max_lat = max(crime_df['LAT'])
print(f'Maximum Latitude: {max_lat}')
min_lon = min(crime_df['LON'])
print(f'Minimum Longitude: {min_lon}')
max_lon = max(crime_df['LON'])
print(f'Maximum Latitude: {max_lon}')

# use min and max lat and lon values in crime data to reduce iterable size of zipcode df to rough LA region
zipcode_df = zipcode_df.loc[((zipcode_df['lat'] >= min_lat) & (zipcode_df['lat'] <= max_lat)) & ((zipcode_df['lon'] >= min_lon) & (zipcode_df['lon'] <= max_lon))]
print(f'\n{len(zipcode_df)} Eligible LA Zipcodes Found!')

701541 Eligible LA Crime Reports Found!

Minimum Latitude: 33.7061
Maximum Latitude: 34.3343
Minimum Longitude: -118.6676
Maximum Latitude: -118.1554

329 Eligible LA Zipcodes Found!

In [108]:
crime_df[['LAT','LON']][0:10]

       LAT       LON
0  34.0141 -118.2978
1  34.0459 -118.2545
2  34.0448 -118.2474
3  34.1685 -118.4019
4  34.2198 -118.4468
5  34.0452 -118.2534
6  34.0483 -118.2631
7  34.0448 -118.2474
8  34.0677 -118.2398
9  34.2864 -118.5021

In [148]:
## TEST ZONE
start = time.time()

coords = [[34.037823323503005, -118.3234316599101]]
coord_dists = zipcode_df
print('start:',time.time() - start)

dists = []

for i in coord_dists.values:
    dists.append(pgeocode.haversine_distance(np.array(coords), np.array([[i[0],i[1]]]))[0])
print('split2:', time.time() - start)
coord_dists['dist'] = dists
print(coord_dists.loc[coord_dists['dist'] == min(coord_dists['dist'])].index[0])

start: 9.965896606445312e-05
split2: 0.6097080707550049
90018

In [143]:
# convert crime lat,lng to nearest zipcode - input is an array of lat, long
def get_zip(coords):
    coord_dists = zipcode_df
    dists = []
    for i in coord_dists.values:
        dists.append(pgeocode.haversine_distance(np.array(coords), np.array([[i[0],i[1]]]))[0])

    coord_dists['dist'] = dists
    return coord_dists.loc[coord_dists['dist'] == min(coord_dists['dist'])].index

In [128]:
# create 
crime_coords = crime_df[['LAT','LON']]

In [140]:
%%timeit
test_coords = [[34.037823323503005, -118.3234316599101]]
print(get_zip(test_coords)[0])

90018
90018
90018
90018
90018
90018
90018
90018
697 ms ± 26.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [141]:
# crime_df['zipcode'] = crime_coords.apply(lambda x: get_zip([[x.LAT,x.LON]])[0], axis=1)
zipcodes = []
for i in crime_coords.values:
    zipcodes.append(get_zip([[i[0],i[1]]])[0])

KeyboardInterrupt:

In [ ]:
crime_df['zipcode'] = zipcodes

In [ ]:
# load in water quality data and store in df
water_csv = 'Resources/water_qual_lab_results.csv'
water_df = pd.read_csv(water_csv)
water_df.head(10)

,station_id,station_name,full_station_name,station_number,station_type,latitude,longitude,status,county_name,sample_code,sample_date,sample_depth,sample_depth_units,parameter,result,reporting_limit,units,method_name
0,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.5617,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Conductance,3480.0,1.0,uS/cm,EPA 120.1
1,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.5617,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Dissolved Boron,7.7,0.1,mg/L,"Std Method 4500-B, C"
2,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.5617,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Dissolved Calcium,68.0,1.0,mg/L,EPA 215.2
3,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.5617,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Dissolved Chloride,758.0,0.1,mg/L,"Std Method 4500-Cl, B"
4,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.5617,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Dissolved Magnesium,59.0,0.1,mg/L,"Std Method 3500-Mg, E"
5,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.5617,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Dissolved Sodium,510.0,1.0,mg/L,"Std Method 3500-Na, D"
6,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.5617,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Total Alkalinity,270.0,1.0,mg/L as CaCO3,EPA 310.1
7,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.5617,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Total Hardness,412.0,1.0,mg/L as CaCO3,EPA 130.2
8,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.5617,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,pH,8.0,0.1,pH Units,EPA 150.1
9,8166,01S04W04A001M,01S04W04A001M,01S04W04A001M,Groundwater,37.8788,-122.3027,Review Status Unknown,Alameda,WDIS_0744257,07/18/1975 09:50,NaN,Feet,Conductance,1430.0,1.0,uS/cm,EPA 120.1

In [ ]:
# convert water_df lat,lng to zip codes
# filter out unnecessary zip codes from water_df (only values within min and max of crime dataset)

In [ ]:
# load via api

In [ ]:
 # clean with pandas

In [ ]:
# load to postgres SQL

In [ ]:
# query specific columns from SQL

In [ ]:
# run models

In [ ]:
# save models somewhere (Google Drive?)